<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    
    <bean id="debit" class="in.ashokit.DebitCardPayment"></bean>

<bean id="credit"  class="in.ashokit.CreditCardPayment"></bean>

<bean id="rt"  class="in.ashokit.RestaurantService">
	<!---<property name="payment" ref="credit"></property> <-->
	<constructor-arg name="payment" ref="credit"></constructor-arg> 
</bean>

</beans>